
// TODO: Remove colors once worked out..
//--- Colour variables ---//
$old-mutual-green: #005842;
$black: #2f3133;
$medium-grey: #bec0c2;
$grey: #e0e2e4;
$orange: #ffaa0f;
$blue: #19b1e8;
$dark-green: #157261;
$pink: #b8166b;
$light-grey: #f1f2f5;
$background: #f4f7f6;
$light-green: #97c3b2;
$twitter-blue: #1da1f2;
$hint-grey: #afb2b5;
$linkedin-blue: #0077b5;
$white: #fff;



//--- Icon rollover variables ---//
$dark-green2: #54821c;
$dark-green3: #003d2e;
$dark-green4: #6a897d;
$dark-grey2: #3d3e3f;


// Domestly colors
$dark-grey: #1d252d;
$slate-grey: #5d6774;
$mid-grey: #a0a9b9;
$pale-grey: #dde1e7;
$soft-grey: #f9fafb;
$white: #ffffff;
$light-grey: #e8ebef;
$green: #7ed321;
$apple: #5bc13c;
$red: #f55732;
$pink: #FF0074;
$medium-green: #44b44e;
$facebook: #3b5998;