.btn{
  font-family: "Montserrat", 'sans-serif';
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background: none;
	border: 1px solid transparent;
  border:none;

  border-radius: 3px;
	white-space: normal;
	padding: 0 10px;
  padding:1px 10px; /* no border */


  min-width:141px;
	line-height:30px;
  -ms-touch-action: manipulation;	touch-action: manipulation;
	-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
	font-weight: 400; font-size: 14px;
  letter-spacing: 0.7px;
	transition:all 0.2s ease-in-out;
	outline:none;

  .icon{
    position:relative;
    display:inline-block;
    vertical-align: middle;
    margin-right:-5px;
    top:-1px;
    svg{
      display:block;
      width:30px; height: 30px;
    }
  }

 }

.btn--thin {
  font-size: 15px;
  height: 36px;
  width: 180px;
}

.btn--sm {
  font-size: 15px;
  width: 180px;
}


.btn--lg{
  font-size:18px;
  line-height:32px;
  width: 100%;
  max-width:300px;
  //padding:6px 20px 4px;
  padding:7px 20px 5px; /* no border */


  letter-spacing: 0.9px;

  .icon{
    margin-right:-10px;
    svg{
      width:40px;
      height:40px;
    }
  }

}

.btn--block{
  display:block;
  width:100%;
}

.btn--fluid{
  max-width: none;
}

.btn--primary{
  color:$white;
  background-color:$green;
  line-height: 30px;
  //padding:2px 0;
  border:1px solid $green;
  border-bottom:1.3px solid $green;

  &:hover,
  &:focus{
    background-color: $apple;
  }

  &.btn--disabled {
    color: $green;
    background-color: $white;
  }
}

.btn--secondary{
  color:$green;
  background-color:$white;
  border:1px solid $green;

  &:hover,
  &:focus{
    color: $medium-green;
    border:1px solid $medium-green;
  }

  /* increase padding as includes border */
  padding: 0 10px;
  &.btn--md{
    padding:4px 15px 4px;
  }
  &.btn--lg{
    padding:6px 20px 4px;
  }
}

.btn--tertiary{
  color:$white;
  background-color:$orange;

  &:hover,
  &:focus{
    color:$white;
    box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.3);
  }
}

.btn--naked{
  font-family: 'Montserrat', 'sans-serif';
  font-size:12px;
  font-weight:bold;
  color:$green;
  text-transform: uppercase;
}


.btn--facebook{
  color:$white;
  background:$facebook url(./images/svg/icn-social-facebook.svg) left 11px center no-repeat;
  background-size:20px 20px;
  transition:background-position .2s ease-out;
  text-align: center;

  &:hover,
  &:focus{
    background-color: #324978;
  }

  .icon{float:right;}

}


.ButtonLargePrimary {
  .loading-icon {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.68);
  }
}


.ButtonBack {
  background: url(./images/svg/icn-general-back.svg) left 0 center no-repeat;
  background-size:20px 20px;
  color: $green;
  font-size: 15px;
  font-weight: 500;
  padding-left: 20px;
}




/* last element please */
.btn--disabled,
.btn[disabled]{
  cursor: auto;
  opacity:.4;
  pointer-events: none;
  &:hover,
  &:focus{
    color:inherit;
    //background-color:inherit;
  }
}
