h1,h2,.h1,.h2{font-family: "Montserrat", 'sans-serif'; }

//h1,.h1{font-size:24px; font-weight:400; text-transform: uppercase; line-height: 1.2;}
//h2,.h2{font-size:20px; font-weight:300; line-height:1.25;}


h3,.h3{font-size:20px; font-weight:300; line-height:1.36;}
h4,.h4{font-size:19px; font-weight:normal; }
h5,.h5{font-size:17px; font-weight:500;}
h6,.h6{font-size:14px; font-weight:normal;}
.h7{font-size:12px; font-weight:normal;}
.h8{font-size:11px; font-weight:normal;}

p{
  line-height:1.33;
}
p.intro{
  font-size:18px;
  font-weight:300;
  line-height:1.416;
}

small{
  font-size:12px;
}

.font-light{font-weight:300;}
.font-normal{font-weight:normal;}
.font-semibold{font-weight:600;}
.font-bold{font-weight:700;}

.label{
  font-size:12px;
  line-height:1.33;
  text-transform: uppercase;
  color:$black;
  &--lowercase{
    text-transform: none;
  }
}

.label-link{
  font-size:12px;
  font-weight:bold;
  line-height:1.33;
  text-transform: uppercase;
  color:$medium-green;
  cursor:pointer;
  &:hover,
  &:focus{

  }
}

.lowercase{
  text-transform: none;
}


 @include breakpoint(md) {

  h1,.h1{font-size:50px; font-weight:300; letter-spacing: 2px;}
  h1 strong,.h1 strong{letter-spacing:1px;}

  h2,.h2{font-size:40px;}

  h3,.h3{font-size:28px;}
  h4,.h4{font-size:24px;}
  h5,.h5{font-size:17px;}
  h6,.h6{font-size:15px;}
  .h7{font-size:12px;}
  .h8{font-size:11px;}


  p.intro{
    font-size:24px;
  }

 }


.rte{

  line-height:1.625;

  &>*:first-child{
    margin-top:0;
  }

  h2{
    margin:1em 0 .75em;
  }
  h3{
    margin:1.5em 0 1em;
  }

  p{
    margin:1.5em 0;
    line-height:1.625;
  }

  p.intro{
    line-height: 1.416;
  }

  a{
    color:$medium-green;
    font-weight:bold;
  }

  ul,
  ol{
    margin: 1.5em 0;
    margin-left:20px;
    li{
      padding-left:.5em;
      margin-bottom:.5em;
    }
  }

  img{
    margin:1.5em 0;
  }

}